*{
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

header {
    background-color: blue;
    color: white;
    border: 2px solid red;
    border-radius: 5px;
    height: 85px;
    padding-top: 5px;
    padding-left: 5px;
}

header nav{
    background-color: orange;
    color: black;
    border: 2px solid greenyellow;
    border-radius: 5px;
    height: 30px;
    margin: 20px 5px 5px 5px;
    padding-top: 5px;
    padding-left: 5px;
}

aside {
    border: 3px solid red;
    border-radius: 5px;
    width: 21%;
    background-color: sandybrown;
    display: inline-block;
    height: 245px;
    margin: 1%;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 5px;
    padding-left: 5px;
    /* margin-left: -5px; */
    vertical-align: top;
}

main{
    background-color: salmon;
    border: 1px solid orange;
    width: 56%;
    display: inline-block;
    margin-top: 1%;
    padding-top: 5px;
    padding-left: 5px;
}

.container-post{
    background-color: yellow;
    margin: 3%;
    height: 55px;
    padding-top: 5px;
    padding-left: 5px;
}

p{
    margin-block-start: 0px;
}

footer{
    background-color: purple;
    border: 3px solid black;
    border-radius: 5px;
    color: #fff;
    height: 50px;
    margin: 1%;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 5px;
    padding-left: 5px;
}

.flex-container{
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: center;
    align-items: center; */
}

.justify-content-center{
    justify-content: center;
}

.justify-content-flex-start{
    justify-content: flex-start;
}

.justify-content-flex-end{
    justify-content: flex-end;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.justify-content-evenly{
    justify-content: space-evenly;
}

.align-items-center{
    align-content: center;
}

.align-items-start{
    align-content: flex-start;
}

.align-items-end{
    align-content: flex-end;
}

.align-items-baseline{
    align-content: baseline;
}

.align-items-stretch{
    align-content: stretch;
}

.flex-item{
    width: 50px;
    height: 50px;
}

.flex-item:nth-of-type(even){
    background-color: orange;
}

.flex-item:nth-of-type(odd){
    background-color: pink;
}